h1 {
    color: green;
    font-weight: 800;
}
.item {
    padding: 8px;
}
.item-header {
    font-size: 18px;
    font-weight: 600;
}
/* .item-content {
    display: none;
}
.item-content.visible {
    display: block;
} */